<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/all-transactions"
      ><img
        src="assets/logo.jpg"
        class="rounded-circle"
        width="50"
        height="50"
        alt="route logo"
    /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-semibold mx-2"
            routerLinkActive="active fw-bold"
            routerLink="/all-customers"
            >All Cutomers
            <i class="pi pi-users"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-semibold mx-2"
            routerLinkActive="active fw-bold"
            routerLink="/all-transactions"
            >All Transactions <i class="pi pi-paypal"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
