@if (customerTransactions) {
<section class="my-4">
  <h2 class="text-center my-3">
    <span class="border-bottom border-3 pb-1 text-uppercase"
      >Display Customers Transactions by
      <a class="text-secondary" href="https://primeng.org/table" target="_blank"
        >primeng</a
      ></span
    >
  </h2>
  <button
    [ngClass]="{
      'd-none':
        TransctionsTable._sortField !== 'transaction.amount' &&
        TransctionsTable._sortField !== 'transaction.date'
    }"
    class="btn btn-secondary"
    (click)="clearSort()"
  >
    clear sort
  </button>
  <p-table
    #TransctionsTable
    [value]="customerTransactions"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20]"
    styleClass="p-datatable-striped"
    [globalFilterFields]="[
      'transaction.id',
      'customer.name',
      'representative.name',
      'status'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">ID</th>
        <th
          [pSortableColumnDisabled]="true"
          pSortableColumn="name"
          style="width: 20%"
        >
          Name
        </th>
        <th pSortableColumn="transaction.amount" style="width: 20%">
          Amount <p-sortIcon field="transaction.amount" />
        </th>
        <th pSortableColumn="transaction.date" style="width: 20%">
          Date <p-sortIcon field="transaction.date" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customerTransactions>
      <tr>
        <td>{{ customerTransactions.transaction.id }}</td>
        <td>{{ customerTransactions.customer.name }}</td>
        <td>{{ customerTransactions.transaction.amount | currency }}</td>
        <td>{{ customerTransactions.transaction.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
}
